body {
    display: flex;
    justify-content: center;
  }
  .container {
    width: 100%;
    max-width: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }
  .container img {
    width: 100%;
    height: auto;
    max-width: 600px;
  }
  .first {
    grid-row: 1/span 2;
    grid-column: 1/span 2;
    width: 100%;
  }